fastapi == 0.100.0
uvicorn == 0.22.0
hupper == 1.12
pymysql == 1.1.0
python-dotenv == 1.0.0
sqlalchemy == 2.0.19
alembic == 1.11.1
passlib == 1.7.4
pydantic == 2.1.1
python-multipart == 0.0.6
python-jose == 3.3.0
botocore == 1.31.21
boto3 == 1.28.21
cryptography == 41.0.3